In [11]:
a=int(input('enter 1st number : '))
b=int(input('enter 2nd number : '))
if a>b:
    print(a,'is greater than',b)
elif a<b:
    print(a,'is less than',b)
else:
    print('Both are equal')

enter 1st number : 56
enter 2nd number : 56
Both are equal

In [14]:
num = int(input('enter number : '))
a,b=0,1
c=0
if num<0:
    print('it an invalid num')
elif num==0:
    print(0)
elif num==1 or num==2:
    print(1)
else:
    print('Fibonacci sequence is ')
    while c<num:
        print(a,end=' ')
        tem = a+b
        a=b
        b=tem
        c+=1

enter number : 1
1

In [12]:
a=int(input('enter value to be multiplied '))
b=int(input('enter end values '))
for i in range(1,b+1):
    print(a,'*',i,'=',a*i)

enter value to be multiplied 5
enter end values 10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
values=input('enter values with comma seperated')
b=values.split(',')
l=[int(i) for i in b]
print('sum of all the values = ',sum(l))
print('mean of all the values = ',sum(l)/len(l))

enter values with comma seperated34,23,52,43
sum of all the values =  152
mean of all the values =  38.0

In [5]:
num = int(input('enter num to check palindrome : '))
num_str = str(num)
if num_str==num_str[::-1]:
    print(num,'is a palindrome number')
else:
    print(num,'is not a palindrome number')

enter num to check palindrome : 56565
56565 is a palindrome number

In [6]:
num=int(input('enter number : '))
num_str=str(num)
l=[int(i) for i in num_str]
print('sum of digits of a number is = ',sum(l))

enter number : 45632
sum of digits of a number is =  20

In [7]:
num = int(input('enter number : '))
num_reverse=0
while num !=0:
    carry = num % 10
    num_reverse = num_reverse * 10 + carry
    num = num//10
print('reversed number = ',num_reverse)

enter number : 4532
reversed number =  2354

In [8]:
num = int(input('enter number : '))
l=["zero", "one", "two", "three", "four","five", "six", "seven", "eight", "nine"]
num_str = str(num)
for i in num_str:
    print(l[int(i)],end=' ')

enter number : 34523132
three four five two three one three two

In [9]:
num = int(input('enter num to check armstrong : '))
num_org = num
a=len(str(num))
add=0
while num!=0:
    k=num % 10
    add = add+ (k**a)
    num//=10
if num_org == add:
    print(num_org,'is an armstrong number')
else:
    print(num_org,'is not an armstrong number')

enter num to check armstrong : 153
153 is an armstrong number

In [16]:
a=int(input('enter a value : '))
b=int(input('enter b value : '))
c=int(input('enter c value : '))
if (a>b) and (a>c):
    print('The gratest number is',a)
elif (b>a) and (b>c):
    print('The greatest number is',b)
else:
    print('The greatest number is',c)

enter a value : 5
enter b value : 4
enter c value : 3
The gratest number is 5

In [24]:
x=input('enter values by comma seperated : ')
b=[int(i) for i in x.split(',')]
c=sorted(b)
print('The largest number =',c[-1])
print('The smallest number =',c[0])

enter values by comma seperated : 34,546,234,23,453,6
The largest number = 546
The smallest number = 6

In [26]:
x=input('enter values by comma seperated : ')
b=[int(i) for i in x.split(',')]
c=sorted(b)
print('The 2nd largest number =',c[-2])
print('The 2nd smallest number =',c[1])

enter values by comma seperated : 34,546,234,23,453,6
The 2nd largest number = 453
The 2nd smallest number = 23

In [50]:
n=int(input('enter no.of values to be entered :'))
l=[]
for i in range(n):
    x=input('enter value to add : ')
    l.append(x)
print(f'{"The 2nd last values entered by the user ="} {l[-2]}')

enter no.of values to be entered :5
enter value to add : adfad
enter value to add : er
enter value to add : 4
enter value to add : 35
enter value to add : fdsa
The 2nd last values entered by the user = 35

In [52]:
x=input('enter values by comma seperated : ')
print(x.split(','))
for i in x.split(','):
    print(type(i))

enter values by comma seperated : 34,546,234,23,453,6
['34', '546', '234', '23', '453', '6']

In [54]:

x=input('enter values by comma seperated : ')
b=[float(i) for i in x.split(',')]
c=sum(b)/len(b)
print(c)
for i in b:
    print(f'{"Difference from mean to"} {i} {"="} {c-i}')

enter values by comma seperated : 56,34,21,90,67.75
53.75
Difference from mean to 56.0 = -2.25
Difference from mean to 34.0 = 19.75
Difference from mean to 21.0 = 32.75
Difference from mean to 90.0 = -36.25
Difference from mean to 67.75 = -14.0

In [44]:
import numpy as np
x=input('enter values by comma seperated : ')
b=[int(i) for i in x.split(',')]
c=np.mean(b)
for i in b:
    print(f'{"Square difference from mean to"} {i} {"="} {np.mod(i,c)**2}')

enter values by comma seperated : 56,34,21,90,67.75
Square difference from mean to 56.0 = 5.0625
Square difference from mean to 34.0 = 1156.0
Square difference from mean to 21.0 = 441.0
Square difference from mean to 90.0 = 1314.0625
Square difference from mean to 67.75 = 196.0

In [49]:
n=input('enter numbers with comma seperation')
l=[float(i) for i in n.split(',')]
print(sorted(l))

enter numbers with comma seperation56,34,21,90,67.75
[21.0, 34.0, 56.0, 67.75, 90.0]

In [1]:
n=input('enter percentages of students with comma seperation ')
l=[float(i) for i in n.split(',')]
for i in l:
    if i>=90:
        print(f'{"The student grade for"} {i} {"="} {"A"}')

    elif i>=75 and i<90:
        print(f'{"The student grade for"} {i} {"="} {"B"}')
    elif i>=60 and i<75:
        print(f'{"The student grade for"} {i} {"="} {"C"}')
    elif i>100 or i<0:
        print(f'{"You entered wrong value "} {i}')

    else:
        print(f'{"The student is failed as percentage is"} {i}')

enter percentages of students with comma seperation 56,34,21,90,67.75,45.2345
The student is failed as percentage is 56.0
The student is failed as percentage is 34.0
The student is failed as percentage is 21.0
The student grade for 90.0 = A
The student grade for 67.75 = C
The student is failed as percentage is 45.2345

In [6]:
l=[]
a=int(input('enter total no.of students :'))
for i in range(a):
    x=int(input('enter percentage of a student :'))
    if x>100 or x<0:
        print('please enter values between 0 to 100')
        
    else:
        l.append(x)
print(l)

enter total no.of students :5
enter percentage of a student :34
enter percentage of a student :34
enter percentage of a student :23
enter percentage of a student :234
please enter values between 0 to 100
enter percentage of a student :542
please enter values between 0 to 100
[34, 34, 23]

In [ ]:
l=[]
i=1
a=int(input('enter total no.of students :'))
while i<=a:
    x=int(input('enter percentage of a student :'))
    if x>100 or x<0:
        print('please enter values between 0 to 100')
    else:
        l.append(x)
        i=i+1
print(l)

In [62]:
a=5
b=5
x=(a^b)
if x==0:
    print('same')
else:
    print('not same')

same

In [65]:
a=8
b=a|1
print(b)

9

1.Tax calculation

In [70]:
n=int(input('enter amount : '))
r = int(input('enter the range split for tax calculation : '))
if n<=r:
    print('No need of paying tax : ')
else:
    le=n//r
    d=dict()
    for i in range(0,le-1):
        tax_percent=int(input(f'{"enter percentage of tax for"} {i+1} {"unit"} '))/100
        d[i+1]=tax_percent
#     a=n//r
#     b=n%r
    j=0
    i=1
    while i < (n//r):
        j=j+(r*d[i])
        i+=1
        print(j)
    j=j+(d[(n//r)-1]*(n%r))
    print(f'{"Tax for the income"} {n} {"= "} {j}')
    print(f'{"Income after deduction of tax for "} {n} {"is"} {n-j}')

enter amount : 350
enter the range split for tax calculation : 100
enter percentage of tax for 1 unit 10
enter percentage of tax for 2 unit 20
10.0
30.0
Tax for the income 350 =  40.0
Income after deduction of tax for  350 is 310.0

2.Ages of trainees in the company

In [91]:
l=[]
i=1
a=int(input('enter total no.of trainees :'))
while i<=a:
    x=int(input('enter age of a trainee :'))
    if x>58 or x<21:
        print('The person is not eligible for trainig')
    else:
        l.append(x)
    i=i+1
print(l)

enter total no.of trainees :5
enter age of a trainee :21
enter age of a trainee :454
The person is not eligible for trainig
enter age of a trainee :20
The person is not eligible for trainig
enter age of a trainee :23
enter age of a trainee :23
[21, 23, 23]

3.Electricity bill charge

In [ ]:
n=int(input('enter no.of units consumed : '))
r = int(input('enter the range split for bill calculation : '))

4. Write a program to print pattern using a loop

In [66]:
row = 5
for i in range(1, row + 1, 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

5.Calculate the sum of all numbers from 1 to a given number

In [68]:
s = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
    s += i
print("\n")
print("Sum is: ", s)

Enter number 4


Sum is:  10

6.Count the total number of digits in a number

In [69]:
num = int(input("Enter number "))
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Enter number 324565
Total digits are: 6

7.Print the following pattern

In [71]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

8.Fibonacci sequence

In [72]:
num = int(input('enter number : '))
a,b=0,1
c=0
if num<0:
    print('it an invalid num')
elif num==0:
    print(0)
elif num==1 or num==2:
    print(1)
else:
    print('Fibonacci sequence is ')
    while c<num:
        print(a,end=' ')
        tem = a+b
        a=b
        b=tem
        c+=1

enter number : 6
Fibonacci sequence is
0 1 1 2 3 5

9.Armstrong number

In [73]:
num = int(input('enter num to check armstrong : '))
num_org = num
a=len(str(num))
add=0
while num!=0:
    k=num % 10
    add = add+ (k**a)
    num//=10
if num_org == add:
    print(num_org,'is an armstrong number')
else:
    print(num_org,'is not an armstrong number')

enter num to check armstrong : 153
153 is an armstrong number

10.printing words of each number

In [74]:
num = int(input('enter number : '))
l=["zero", "one", "two", "three", "four","five", "six", "seven", "eight", "nine"]
num_str = str(num)
for i in num_str:
    print(l[int(i)],end=' ')

enter number : 4532
four five three two

11.Reversal of a number

In [76]:
num = int(input('enter number : '))
num_reverse=0
while num !=0:
    carry = num % 10
    num_reverse = num_reverse * 10 + carry
    num = num//10
print('reversed number = ',num_reverse)

enter number : 34256
reversed number =  65243

12.Sum of digits of a number

In [77]:
num=int(input('enter number : '))
num_str=str(num)
l=[int(i) for i in num_str]
print('sum of digits of a number is = ',sum(l))

enter number : 34567
sum of digits of a number is =  25

13.Palindrome number

In [78]:
num = int(input('enter num to check palindrome : '))
num_str = str(num)
if num_str==num_str[::-1]:
    print(num,'is a palindrome number')
else:
    print(num,'is not a palindrome number')

enter num to check palindrome : 35476
35476 is not a palindrome number

14.comparion operation

In [80]:
a=int(input('enter a value : '))
b=int(input('enter b value : '))
c=int(input('enter c value : '))
if (a>b) and (a>c):
    print('The gratest number is',a)
elif (b>a) and (b>c):
    print('The greatest number is',b)
else:
    print('The greatest number is',c)

enter a value : 5
enter b value : 343
enter c value : 5
The greatest number is 343

15.Prime number between to values

In [83]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

16.Factorial

In [86]:
num = int(input('enter number to find factorial : '))
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

enter number to find factorial : 5
The factorial of 5 is 120