# file handling

In [86]:
with open('Ages.txt','x') as f:
    f.write('25\n')
    f.write('22\n')

In [2]:
f=open('Ages.txt','r')
for i in f:
    print(i)

25

22

In [3]:
f.read()

''

In [4]:
f.seek(0)

0

In [5]:
f.read()

'25\n22\n'

In [7]:
f.seek(0)
f.readlines()

['25\n', '22\n']

In [8]:
f.close()

In [9]:
file = open('age.txt','w+')
file.write('Adding ages of trainees to this file ')

37

In [10]:
file.seek(0)
file.read()

'Adding ages of trainees to this file '

In [11]:
file.seek(0)

0

In [12]:
file.close()

### append values to file

In [13]:
file = open('age.txt','a+')
file.write('\n22')
file.write('\n23')
file.write('\n24')
file.write('\n25')

3

In [14]:
file.seek(0)
print(file.read())

Adding ages of trainees to this file
22
23
24
25

In [15]:
file.seek(0)
for line in file:
    print(line)

Adding ages of trainees to this file

22

23

24

25

In [16]:
file.close()

### Multiplication program

In [87]:
i=1
while i>0:
    n=int(input('enter number to multiply and to stop enter 0: '))
    if n==0:
        i=-1
    else:
        mul=int(input('enter no.of multiples required : '))
        f=open('file.txt','a+')
        f.write('\nMultiplication program for '+str(n))
        for i in range(1,mul+1):
            x=n*i
            f.write('\n'+str(n)+'*'+str(i)+'='+str(x))
        f.seek(0)
        print(f.read())
    i=i+1

enter number to multiply and to stop enter 0: 5
enter no.of multiples required : 10

Multiplication program for 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
enter number to multiply and to stop enter 0: 0

### Reading lines in file.txt

In [88]:
file=open('file.txt','r')
for line in file:
    print(line)

Multiplication program for 5

5*1=5

5*2=10

5*3=15

5*4=20

5*5=25

5*6=30

5*7=35

5*8=40

5*9=45

5*10=50

In [89]:
file.seek(0)
print(file.readlines())

['\n', 'Multiplication program for 5\n', '5*1=5\n', '5*2=10\n', '5*3=15\n', '5*4=20\n', '5*5=25\n', '5*6=30\n', '5*7=35\n', '5*8=40\n', '5*9=45\n', '5*10=50']

In [90]:
file.close()

In [91]:
file=open('file.txt','r')

In [92]:
print(file.readline(-1))
print(file.readline(-1))
print(file.readline(-1))

Multiplication program for 5

5*1=5

In [93]:
file.readable()

True

In [94]:
file.close()

### prime numbers between two numbers

In [97]:
i=1
while i>0:
    a=int(input('enter starting number and to stop enter 0 : '))
    b=int(input('enter ending number and to stop enter 0 : '))    
    if (a or b)==0:
        i=-1
    elif (a or b)<=0:
        print('please enter only positive values ')
    else:
        file=open('file.txt','a+')
        file.write('\nPrime numbers between '+str(a)+'and'+str(b)+'\n')
        for i in range(a,b+1):
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                file.write('\n'+str(i))
        f.seek(0)
        print(f.read())
    i=i+1

enter starting number and to stop enter 0 : 0
enter ending number and to stop enter 0 : 0

In [96]:
file=open('file.txt','r')
print(file.read())

Multiplication program for 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
Prime numbers between 10and30

11
13
17
19
23
29

### Adding the list

In [98]:
l=[34,45,32,53,2]
file=open('file.txt','a+')
file.write('\nAddition of list '+str(l))
sum=0
for i in l:
    sum+=i
file.write('\nThe output is '+str(sum))
file.seek(0)
print(file.read())

Multiplication program for 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
Prime numbers between 10and30

11
13
17
19
23
29
Addition of list [34, 45, 32, 53, 2]
The output is 166

### Multiplication of n natural numbers

In [101]:
n=int(input('Enter a number '))
file=open('file.txt','a+')
file.write('\nMultiplication of N natural numbers ')
mul_sum=1
for i in range(1,n+1):
    mul_sum*=i
file.write('\nThe output is '+str(mul_sum))
file.seek(0)
print(file.read())

Enter a number 30

Multiplication program for 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
Prime numbers between 10and30

11
13
17
19
23
29
Addition of list [34, 45, 32, 53, 2]
The output is 166
Multiplication of N natural numbers [34, 45, 32, 53, 2]
The output is 0
Multiplication of N natural numbers
The output is 0
Multiplication of N natural numbers
The output is 265252859812191058636308480000000

In [102]:
file.close()

In [83]:
import os
os.remove("file.txt")

# OOPS

In [15]:
class Trainee:

    def __init__(x,name,emp_id):
        x.name = name
        x.emp_id = emp_id
    def print_details(x):
        print(x.name)
        print(x.emp_id)



r=Trainee("rajesh",22222)
r.print_details()

r2=Trainee("vamsi",33333)
#r2.entry_details()
r2.print_details()

rajesh
22222
vamsi
33333

In [11]:
class laptop:
    company ='Hp'
    
    def __init__(self,ram,ssd):
        self.ram=ram
        self.ssd=ssd
        
    def details(self):
        return self.company,self.ram,self.ssd
        
c1=laptop(8,512)

In [13]:
c1.details()

('Hp', 8, 512)

In [16]:
c1.company

'Hp'

In [28]:
class car:
    company = 'Name of the company'
    def __init__(self):
        self.mil=10
        self.speed='80km/hr'
        
    def BMW(self):
        self.company='BMW'
        return self.company,self.mil,self.speed
    
    def Tesla(self):
        self.company='Tesla'
        return self.company,self.mil,self.speed
    
car=car()

In [29]:
car.BMW()

('BMW', 10, '80km/hr')

In [30]:
car.Tesla()

('Tesla', 10, '80km/hr')

In [9]:
class car(): 
#     def __init__(self,brand): 
#         self.brand=brand 
    def type(self,brand): 
        print("4-Wheeler",brand) 
    def color(self): 
        print("black") 
class bike(): 
#     def __init__(self,brand): 
#         self.brand=brand 
    def type(self,brand): 
        print("2-wheeler",brand) 
    def color(self): 
        print("black") 
        
        
c = car() 
b = bike() 
c.type('BMW') 
c.color() 
b.type('Fz') 
b.color()

4-Wheeler BMW
black
2-wheeler Fz
black

In [15]:
class person1:
    def __init__(self,name,time):
        self.name = name
        self.time = time
    def wake(self):
        print(f"{self.name} wakes at {self.time}")
class person2:
    def __init__(self,name,time):
        self.name = name
        self.time = time
    def wake(self):
        print(f"{self.name} wakes at {self.time}")
        
peter = person1("peter","8:10 am")
hidie = person2("hidie","8:30 am")
peter.wake()
hidie.wake()

peter wakes at 8:10 am
hidie wakes at 8:30 am

In [36]:
class A:
    def __init__(self):
        print('The student name of class A is ')
    def student_1(self):
        print('Peter')
    def student_2(self):
        print('Hidie')
    
class B(A):
    def student_1(self):
        print('Parker')
    def student_4(self):
        print('Fathima')

a=A()
a.student_1()
a.student_2()
b=B()

b.student_4()
b.student_1()
b.student_2()

The student name of class A is
Peter
Hidie
The student name of class A is
Fathima
Parker
Hidie

In [40]:
class A:
    name='rajesh'
    def __init__(self):
        print('The student name of class A is ',self.name)
    def student_1(self):
        print('Peter')
    def student_2(self):
        print('Hidie')
    
class B(A):
    def __init__(self):
       # super().__init__()
        self.roll=5
        print(f'The student name of class B is {self.name}  and roll is {self.roll}')
    
    def student_1(self):
        print('Parker',self.name)
    def student_4(self):
        print('Fathima')

a=A()
a.student_1()
a.student_2()
b=B()
b.student_4()
b.student_1()
b.student_2()
b=A()
print('\n')
b.student_1()
a=b
a.student_1()

The student name of class A is  rajesh
Peter
Hidie
The student name of class B is rajesh  and roll is 5
Fathima
Parker rajesh
Hidie
The student name of class A is  rajesh


Peter
Peter

In [2]:
class A:
    def area(self,r):
        a=r**2
        print(a) 
    def area(self,l,b):
        a=l*b
        print(a)
    def area(self,l,b,h):
        a=l*b*h
        print(a) 
a=A()
a.area(3,4,5)

60

In [20]:
class B:
    def product(self,a, b):
        p = a * b
        print(p)

    def product(self,a, b , c):
        p = a * b * c
        return p
    
class C(B):
    def product(self,a,b):
        p=a//b
        return p
    

b=B()
c=C()

# print(b.product(4,6))
print(b.product(4,6,5))
print(c.product(4,2))

120
2

In [35]:
class F:
    def sum(self,a=None,b=None,c=None):
        s=0
        if a!=None and b!=None and c!=None:
            s=a*b*c
        elif a!=None and b!=None:
            s=a*b
        else:
            s=a*a
        return s
f=F()
print(f.sum(4,5))
print(f.sum(4,5,6))
print(f.sum(4))

20
120
16

In [2]:
class CD:
    def __init__(self,songwriter,title,songs):
        self.songwriter = songwriter
        self.title = title
        self.songs = songs
        print('constructor')
    def __str__(self):
        return f'Album: {self.title} is by {self.songwriter} contains {self.songs} songs'
    def x(self):
        print("Hello")
        return ''
my_cd = CD('Pink Floyd','The wall',26) 
print(my_cd) 
print(my_cd.x())

constructor
Album: The wall is by Pink Floyd contains 26 songs
Hello

In [25]:
class B:
    
    def show(self):
        print("welcome")
    def show(self,first_name):
        print("welcome",first_name)
    def show(self,first_name=0,last_name=0):
        print("welcome",first_name*last_name)

b=B()
b.show()
b.show(9)
b.show(6,9)

welcome 0
welcome 0
welcome 54

In [53]:
class A:
    def area(self,a):
        print(3.14*a*a)
    def area(self,l=0,b=0):
        print(l*b)
    
a=A()
a.area(4)
a.area(3,4)

0
12

In [51]:
def add(a,b):
    return a+b
def add(x,y):
    return x*y
add(3,3)
x=3
x='saritha'
print(x)

saritha

In [4]:
l=[34,2,3,67,4]
for i in range (len(l)):
    for j in range(i + 1, len(l)):
        if(l[i] > l[j]):
            c = l[i]
            l[i] = l[j]
            l[j] = c

print("Element After Sorting List ",l)

Element After Sorting List  [2, 3, 4, 34, 67]

In [27]:
l=[[1,4],[3,7],[3,4],[2,9],[1,2]]

#l= [ [1,4], [1,2], [2,9], [3,7], [3,4]]
#l= [ [1,2], [1,4], [2,9], [3,4], [3,7]]

for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i][0]>l[j][0]:
            temp =l[i]
            l[i]=l[j]
            l[j]=temp   
    for k in range(i+1,len(l)):
        if l[i][0]==l[k][0] and l[i][1]>l[k][1]:
            temp =l[i]
            l[i]=l[k]
            l[k]=temp     


print("Element After Sorting List ",l)

Element After Sorting List  [[1, 2], [1, 4], [2, 9], [3, 4], [3, 7]]

In [28]:
l=[[1,4],[3,9],[3,6],[1,2],[5,9]]

for i in range(len(l)):
    for j in range(i+1,len(l)):
        for k in range(0,2):
            if l[i][k]>l[j][k] :
                temp=l[i][k]
                l[i][k]=l[j][k]
                l[j][k]=temp       
          
        
        
print("elements after sorting:",l)

elements after sorting: [[1, 4], [3, 9], [3, 6], [1, 2], [5, 9]]