In [11]:
a=int(input('enter 1st number : '))
b=int(input('enter 2nd number : '))
if a>b:
    print(a,'is greater than',b)
elif a<b:
    print(a,'is less than',b)
else:
    print('Both are equal')

enter 1st number : 56
enter 2nd number : 56
Both are equal

In [14]:
num = int(input('enter number : '))
a,b=0,1
c=0
if num<0:
    print('it an invalid num')
elif num==0:
    print(0)
elif num==1 or num==2:
    print(1)
else:
    print('Fibonacci sequence is ')
    while c<num:
        print(a,end=' ')
        tem = a+b
        a=b
        b=tem
        c+=1

enter number : 1
1

In [12]:
a=int(input('enter value to be multiplied '))
b=int(input('enter end values '))
for i in range(1,b+1):
    print(a,'*',i,'=',a*i)

enter value to be multiplied 5
enter end values 10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
values=input('enter values with comma seperated')
b=values.split(',')
l=[int(i) for i in b]
print('sum of all the values = ',sum(l))
print('mean of all the values = ',sum(l)/len(l))

enter values with comma seperated34,23,52,43
sum of all the values =  152
mean of all the values =  38.0

In [5]:
num = int(input('enter num to check palindrome : '))
num_str = str(num)
if num_str==num_str[::-1]:
    print(num,'is a palindrome number')
else:
    print(num,'is not a palindrome number')

enter num to check palindrome : 56565
56565 is a palindrome number

In [6]:
num=int(input('enter number : '))
num_str=str(num)
l=[int(i) for i in num_str]
print('sum of digits of a number is = ',sum(l))

enter number : 45632
sum of digits of a number is =  20

In [1]:
45632//10

4563

In [7]:
num = int(input('enter number : '))
num_reverse=0
while num !=0:
    carry = num % 10
    num_reverse = num_reverse * 10 + carry
    num = num//10
print('reversed number = ',num_reverse)

enter number : 4532
reversed number =  2354

In [8]:
num = int(input('enter number : '))
l=["zero", "one", "two", "three", "four","five", "six", "seven", "eight", "nine"]
num_str = str(num)
for i in num_str:
    print(l[int(i)],end=' ')

enter number : 34523132
three four five two three one three two

In [9]:
num = int(input('enter num to check armstrong : '))
num_org = num
a=len(str(num))
add=0
while num!=0:
    k=num % 10
    add = add+ (k**a)
    num//=10
if num_org == add:
    print(num_org,'is an armstrong number')
else:
    print(num_org,'is not an armstrong number')

enter num to check armstrong : 153
153 is an armstrong number

In [16]:
a=int(input('enter a value : '))
b=int(input('enter b value : '))
c=int(input('enter c value : '))
if (a>b) and (a>c):
    print('The gratest number is',a)
elif (b>a) and (b>c):
    print('The greatest number is',b)
else:
    print('The greatest number is',c)

enter a value : 5
enter b value : 4
enter c value : 3
The gratest number is 5

In [24]:
x=input('enter values by comma seperated : ')
b=[int(i) for i in x.split(',')]
c=sorted(b)
print('The largest number =',c[-1])
print('The smallest number =',c[0])

enter values by comma seperated : 34,546,234,23,453,6
The largest number = 546
The smallest number = 6

In [26]:
x=input('enter values by comma seperated : ')
b=[int(i) for i in x.split(',')]
c=sorted(b)
print('The 2nd largest number =',c[-2])
print('The 2nd smallest number =',c[1])

enter values by comma seperated : 34,546,234,23,453,6
The 2nd largest number = 453
The 2nd smallest number = 23

In [50]:
n=int(input('enter no.of values to be entered :'))
l=[]
for i in range(n):
    x=input('enter value to add : ')
    l.append(x)
print(f'{"The 2nd last values entered by the user ="} {l[-2]}')

enter no.of values to be entered :5
enter value to add : adfad
enter value to add : er
enter value to add : 4
enter value to add : 35
enter value to add : fdsa
The 2nd last values entered by the user = 35

In [52]:
x=input('enter values by comma seperated : ')
print(x.split(','))
for i in x.split(','):
    print(type(i))

enter values by comma seperated : 34,546,234,23,453,6
['34', '546', '234', '23', '453', '6']

In [54]:

x=input('enter values by comma seperated : ')
b=[float(i) for i in x.split(',')]
c=sum(b)/len(b)
print(c)
for i in b:
    print(f'{"Difference from mean to"} {i} {"="} {c-i}')

enter values by comma seperated : 56,34,21,90,67.75
53.75
Difference from mean to 56.0 = -2.25
Difference from mean to 34.0 = 19.75
Difference from mean to 21.0 = 32.75
Difference from mean to 90.0 = -36.25
Difference from mean to 67.75 = -14.0

In [44]:
import numpy as np
x=input('enter values by comma seperated : ')
b=[int(i) for i in x.split(',')]
c=np.mean(b)
for i in b:
    print(f'{"Square difference from mean to"} {i} {"="} {np.mod(i,c)**2}')

enter values by comma seperated : 56,34,21,90,67.75
Square difference from mean to 56.0 = 5.0625
Square difference from mean to 34.0 = 1156.0
Square difference from mean to 21.0 = 441.0
Square difference from mean to 90.0 = 1314.0625
Square difference from mean to 67.75 = 196.0

In [49]:
n=input('enter numbers with comma seperation')
l=[float(i) for i in n.split(',')]
print(sorted(l))

enter numbers with comma seperation56,34,21,90,67.75
[21.0, 34.0, 56.0, 67.75, 90.0]

In [1]:
n=input('enter percentages of students with comma seperation ')
l=[float(i) for i in n.split(',')]
for i in l:
    if i>=90:
        print(f'{"The student grade for"} {i} {"="} {"A"}')

    elif i>=75 and i<90:
        print(f'{"The student grade for"} {i} {"="} {"B"}')
    elif i>=60 and i<75:
        print(f'{"The student grade for"} {i} {"="} {"C"}')
    elif i>100 or i<0:
        print(f'{"You entered wrong value "} {i}')

    else:
        print(f'{"The student is failed as percentage is"} {i}')

enter percentages of students with comma seperation 56,34,21,90,67.75,45.2345
The student is failed as percentage is 56.0
The student is failed as percentage is 34.0
The student is failed as percentage is 21.0
The student grade for 90.0 = A
The student grade for 67.75 = C
The student is failed as percentage is 45.2345

In [6]:
l=[]
a=int(input('enter total no.of students :'))
for i in range(a):
    x=int(input('enter percentage of a student :'))
    if x>100 or x<0:
        print('please enter values between 0 to 100')
        
    else:
        l.append(x)
print(l)

enter total no.of students :5
enter percentage of a student :34
enter percentage of a student :34
enter percentage of a student :23
enter percentage of a student :234
please enter values between 0 to 100
enter percentage of a student :542
please enter values between 0 to 100
[34, 34, 23]

In [ ]:
l=[]
i=1
a=int(input('enter total no.of students :'))
while i<=a:
    x=int(input('enter percentage of a student :'))
    if x>100 or x<0:
        print('please enter values between 0 to 100')
    else:
        l.append(x)
        i=i+1
print(l)

In [62]:
a=5
b=5
x=(a^b)
if x==0:
    print('same')
else:
    print('not same')

same

In [65]:
a=8
b=a|1
print(b)

9

1.Tax calculation

In [70]:
n=int(input('enter amount : '))
r = int(input('enter the range split for tax calculation : '))
if n<=r:
    print('No need of paying tax : ')
else:
    le=n//r
    d=dict()
    for i in range(0,le-1):
        tax_percent=int(input(f'{"enter percentage of tax for"} {i+1} {"unit"} '))/100
        d[i+1]=tax_percent
#     a=n//r
#     b=n%r
    j=0
    i=1
    while i < (n//r):
        j=j+(r*d[i])
        i+=1
        print(j)
    j=j+(d[(n//r)-1]*(n%r))
    print(f'{"Tax for the income"} {n} {"= "} {j}')
    print(f'{"Income after deduction of tax for "} {n} {"is"} {n-j}')

enter amount : 350
enter the range split for tax calculation : 100
enter percentage of tax for 1 unit 10
enter percentage of tax for 2 unit 20
10.0
30.0
Tax for the income 350 =  40.0
Income after deduction of tax for  350 is 310.0

2.Ages of trainees in the company

In [91]:
l=[] 
i=1
no_of_trainees =int(input('enter total no.of trainees :')) 
while i<= no_of_trainees :
    Age_of_trainee =int(input(f'{"enter the age of a trainee no : "} {i} '))
    if Age_of_trainee>58 or Age_of_trainee<21:
        print('Please re-enter the trainees age those whose age lies in between 21 to 58 ')
    else:
        l.append(i)
        i=i+1
print(l)

enter total no.of trainees :5
enter age of a trainee :21
enter age of a trainee :454
The person is not eligible for trainig
enter age of a trainee :20
The person is not eligible for trainig
enter age of a trainee :23
enter age of a trainee :23
[21, 23, 23]

In [11]:
l=[] 
i=1
# no_of_trainees =int(input('enter total no.of trainees :'))  
while i > 0 :
    Age_of_trainee =int(input(f'{"enter the age of a trainee no and enter 0 to stop : "} {i} '))
    if Age_of_trainee==0:
        i=0
    elif Age_of_trainee>58 or Age_of_trainee<21:
        print('Please re-enter the trainees age those whose age lies in between 21 to 58 ')
    
    else:
        l.append(i)
        i=i+1
print(l)

enter the age of a trainee no and enter 0 to stop :  1 56
enter the age of a trainee no and enter 0 to stop :  2 32
enter the age of a trainee no and enter 0 to stop :  3 206
Please re-enter the trainees age those whose age lies in between 21 to 58
enter the age of a trainee no and enter 0 to stop :  3 36
enter the age of a trainee no and enter 0 to stop :  4 0
[1, 2, 3]

3.Electricity bill charge

In [9]:
n=int(input('enter no.of units consumed : '))
r=int(input('enter the range split for bill calculation : '))
e=int(input('enter fixed charges : '))
p=float(input('enter power charge for each unit :'))
le=n//r
d=dict()
for i in range(0,le+1):
    tax_percent=float(input(f'{"enter cost per "} {i+1} {"unit "} '))
    d[i]=tax_percent
#     a=n//r
#     b=n%r
j=0
i=0
while i < (n//r)+1:
    j=j+(r*d[i])
    i+=1
#     print(j)
j=j+e+(n*p)
print(f'{"Electricity bill for "} {n} {"= "} {j}')
#     print(f'{"Income after deduction of tax for "} {n} {"is"} {n-j}')

enter no.of units consumed : 150
enter the range split for bill calculation : 100
enter fixed charges : 40
enter power charge for each unit :1
enter cost per  1 unit  2
enter cost per  2 unit  4
Electricity bill for  150 =  790.0

In [1]:
150//100

1

4. Write a program to print pattern using a loop

In [17]:
row = 5
for i in range(1, row + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
row=5
for i in range(row):
    for j in range(1,row+1):
        print(j,end=' ')
    print('')

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [1]:
# row = 5
# for i in range(5,0,-1):
#     for j in range(i,0,-c):
#         print(j)
#         c=c-1
#     print('')

In [12]:
for i in range(1,6):
    for j in range(6-i):
        print(" ", end="")
    for j in range(1,i+1):
        print(f"{j}", end=" ")
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [126]:
for i in range(1,6):
    for j in range(i):
        print(" ", end="")
    for j in range(6-i,0,-1):
        print(j, end=" ")
    print()

 5 4 3 2 1
  4 3 2 1
   3 2 1
    2 1
     1

In [25]:
for i in range(5):
    for j in range(i,-1,-1):
        print(5-j,end=" ")
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [122]:
r=5
for i in range(r+1,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print('')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [35]:
n=5
for i in range(1,n+1):
    if i%2==0:
        x='0'
    else:
        x="1"
        
    for j in range(i):
        print(x,end=' ')
        if x=="1":
            x='0'    
        else:
            x='1'  
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [39]:
x=0
for i in range(1,6):
    for j in range(i):
        print(x,end=" ")
        x=(x+1)%2
    print()

0
1 0
1 0 1
0 1 0 1
0 1 0 1 0

In [40]:
x=1
for i in range(1,6):
    for j in range(i):
        print(x,end=" ")
        x=(x+1)%2
    print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [46]:
num = int(input("enter number : "))
total = 0
i=1
while i<num:
    if num%i==0:
        total=total+i
    i=i+1
if total==num:
    print(num,"The number is perfect number ")
else:
    print(num,"The number is not a perfect number")

enter number : 6
6 The number is perfect number

In [106]:
a=int(input('Enter starting value : '))
b=int(input('Enter ending value : '))

l=[]
for i in range(a,b):
    total=0
    for j in range(1,i):
        if i%j==0:
            total=total+j
    if total == i:
        l.append(i)
print(f'The perfect numbers between {a} {b} are ',l)

Enter starting value : 1
Enter ending value : 100
The perfect numbers between 1 100 are  [6, 28]

In [114]:
d=dict()
i=1
while i>0:
    l=[]
    a=int(input('enter starting number for the range or -1 to stop : '))
    b=int(input('enter ending number for the range or -1 to stop : '))
    if a==-1:
        i=-1
    else:
        if a==1:
            a=2
        for i in range(a,b):
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                l.append(i)
        print(f'The prime numbers between {a} and {b} are: ',l)
        print("\n")
    d[len(l)]=[a,b]
    i=i+1
del d[0]
print(d)
x=sorted(d.items())
print('The less no.of prime numbers lies between the ranges ',x[0][1])
print('The more no.of prime numbers lies between the ranges ',x[-1][1])

enter starting number for the range or -1 to stop : 1
enter ending number for the range or -1 to stop : 10
The prime numbers between 2 and 10 are:  [2, 3, 5, 7]


enter starting number for the range or -1 to stop : 1
enter ending number for the range or -1 to stop : 32
The prime numbers between 2 and 32 are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]


enter starting number for the range or -1 to stop : -1
enter ending number for the range or -1 to stop : -1
{4: [2, 10], 11: [2, 32]}
The less no.of prime numbers lies between the ranges  [2, 10]
The more no.of prime numbers lies between the ranges  [2, 32]

In [13]:
a=int(input("enter the 1st range of number :"))
b=int(input("enter the last range of number:"))
count=0
k=0
#i=1
l=[]
for i in range(a,b+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        l.append(i)
print("total no.of prime numbers between given numbers is:",len(l))
print("the prime numbers are:",l)

enter the 1st range of number :2
enter the last range of number:15
total no.of prime numbers between given numbers is: 31
the prime numbers are: [3, 5, 5, 5, 7, 7, 7, 7, 7, 9, 11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 15]

In [29]:
n=int(input('enter number : '))
ran= int(input('enter up to how many multiples : '))
for j in range(1):
    for i in range(1,ran+1):
        print(n*i,end="\t")
    print()
    for i in range(1,ran+1):
        print(i,end="\t")
    print()
    for i in range(1,ran+1):
        print(n,end="\t")

enter number : 6
enter up to how many multiples : 10
6	12	18	24	30	36	42	48	54	60
1	2	3	4	5	6	7	8	9	10
6	6	6	6	6	6	6	6	6	6

In [16]:
for i in range (65,70):
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [18]:
for i in range (69,64,-1):
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

ABCDE
ABCD
ABC
AB
A

In [19]:
size = 5
for i in range(size):
    for j in range(1, size - i):
        print(" ", end="")
    for k in range(i + 1):
        print(chr(65 + k), end="")
    print()

    A
   AB
  ABC
 ABCD
ABCDE

In [23]:
for i in range(65,71):
    print(chr(i))
    for j in range(65,71):
        print(' '*)

      5
     4
    3
   2

In [41]:
l=[1,2,3,4,5]
print(l)
l.append(6)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [37]:
l.insert(1,9)
l

[1, 9, 2, 3, 4, 5, 6]

In [39]:
l.pop(1)
l

[1, 2, 3, 5, 6]

In [40]:
l.clear()
l

[]

In [43]:
l

[6, 5, 4, 3, 2, 1]

In [44]:
l.reverse()
l

[1, 2, 3, 4, 5, 6]

In [46]:
r=[33,55,23,343,234,3]

In [47]:
r.remove(55)
r

[33, 23, 343, 234, 3]

In [48]:
k=r.copy()
k

[33, 23, 343, 234, 3]

In [49]:
l=[2,34,3,2]
print(l[0],' adress ',id(l[0]))
print(l[-1],' adress ',id(l[-1]))

2  adress  2532131760464
2  adress  2532131760464

In [51]:
print(id(l))
l1=copy.deepcopy(l)
print(id(l1))

2532246547200
2532247737152

In [53]:
l.append(54)

In [54]:
import copy
r=copy.deepcopy(l)
print(r[0],' adress ',id(r[0]))
print(r[-1],' adress ',id(r[-1]))

2  adress  2532131760464
54  adress  2532131762128

In [ ]:
l.

5.Calculate the sum of all numbers from 1 to a given number

In [68]:
s = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
    s += i
print("\n")
print("Sum is: ", s)

Enter number 4


Sum is:  10

6.Count the total number of digits in a number

In [69]:
num = int(input("Enter number "))
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Enter number 324565
Total digits are: 6

In [18]:
n=int(input("enter the no.of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(j+1,end=" ")
    print()
for i in range(n-1,-1,-1):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter the no.of rows:4
   1
  1 2
 1 2 3
1 2 3 4
1 2 3 4
 1 2 3
  1 2
   1

7.Print the following pattern

In [71]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

8.Fibonacci sequence

In [72]:
num = int(input('enter number : '))
a,b=0,1
c=0
if num<0:
    print('it an invalid num')
elif num==0:
    print(0)
elif num==1 or num==2:
    print(1)
else:
    print('Fibonacci sequence is ')
    while c<num:
        print(a,end=' ')
        tem = a+b
        a=b
        b=tem
        c+=1

enter number : 6
Fibonacci sequence is
0 1 1 2 3 5

9.Armstrong number

In [73]:
num = int(input('enter num to check armstrong : '))
num_org = num
a=len(str(num))
add=0
while num!=0:
    k=num % 10
    add = add+ (k**a)
    num//=10
if num_org == add:
    print(num_org,'is an armstrong number')
else:
    print(num_org,'is not an armstrong number')

enter num to check armstrong : 153
153 is an armstrong number

10.printing words of each number

In [74]:
num = int(input('enter number : '))
l=["zero", "one", "two", "three", "four","five", "six", "seven", "eight", "nine"]
num_str = str(num)
for i in num_str:
    print(l[int(i)],end=' ')

enter number : 4532
four five three two

11.Reversal of a number

In [76]:
num = int(input('enter number : '))
num_reverse=0
while num !=0:
    carry = num % 10
    num_reverse = num_reverse * 10 + carry
    num = num//10
print('reversed number = ',num_reverse)

enter number : 34256
reversed number =  65243

12.Sum of digits of a number

In [77]:
num=int(input('enter number : '))
num_str=str(num)
l=[int(i) for i in num_str]
print('sum of digits of a number is = ',sum(l))

enter number : 34567
sum of digits of a number is =  25

13.Palindrome number

In [78]:
num = int(input('enter num to check palindrome : '))
num_str = str(num)
if num_str==num_str[::-1]:
    print(num,'is a palindrome number')
else:
    print(num,'is not a palindrome number')

enter num to check palindrome : 35476
35476 is not a palindrome number

14.comparion operation

In [80]:
a=int(input('enter a value : '))
b=int(input('enter b value : '))
c=int(input('enter c value : '))
if (a>b) and (a>c):
    print('The gratest number is',a)
elif (b>a) and (b>c):
    print('The greatest number is',b)
else:
    print('The greatest number is',c)

enter a value : 5
enter b value : 343
enter c value : 5
The greatest number is 343

15.Prime number between to values

In [83]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

16.Factorial

In [86]:
num = int(input('enter number to find factorial : '))
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

enter number to find factorial : 5
The factorial of 5 is 120

In [2]:
l=[45,32,54,52,234,563,3,41]
l.count(32)

1

In [10]:
grossory_list=['rice','dal','masala']
for i in range(len(grossory_list)):
    print(grossory_list[i])
print("Enter the new item tobe added :")
item=input('item = ')
grossory_list.append(item)
for i in range(len(grossory_list)):
    print(grossory_list[i],end=' ')

rice
dal
masala
Enter the new item tobe added :
item = sugar
rice dal masala sugar

In [8]:
l=[]
i=1
while i>0:
    item=input('enter item name else 0 : ')
    if item=="0":
        i=0
    else:
        l.append(item)
        i=i+1
print(l)

enter item name else 0 : red
enter item name else 0 : blue
enter item name else 0 : yellow
enter item name else 0 : apple
enter item name else 0 : banana
enter item name else 0 : cognizant
enter item name else 0 : dell
enter item name else 0 : google
enter item name else 0 : cricket
enter item name else 0 : volleyball
enter item name else 0 : 0
['red ', 'blue', 'yellow', 'apple', 'banana', 'cognizant', 'dell ', 'google', 'cricket', 'volleyball']

In [26]:
l.extend([21])
l

['red ',
 'black',
 'blue',
 'yellow',
 'apple',
 'banana',
 'cognizant',
 'dell ',
 'google',
 'cricket',
 'volleyball',
 21]

In [27]:
l.insert(1,"black")
l

['red ',
 'black',
 'black',
 'blue',
 'yellow',
 'apple',
 'banana',
 'cognizant',
 'dell ',
 'google',
 'cricket',
 'volleyball',
 21]

In [28]:
l.pop()
l

['red ',
 'black',
 'black',
 'blue',
 'yellow',
 'apple',
 'banana',
 'cognizant',
 'dell ',
 'google',
 'cricket',
 'volleyball']

In [ ]:
#implement all functionalities of list and tuple
a=input(" enter the list items separetted by cama:")
b=a.split(",")
l=[i for i in b]
print(l)
l.insert(2,"Apple")
print(l)
del l[2]
print(l)
l.reverse()
print(l)
k=l.copy()
print(k)
l.pop()
print(l)
l.append("Kabadi")
print(l)
l.pop(2)
print(l)
l.remove("Cognizant")
print(l)
l[2]="grapes"
print(l)
l.sort()
print(l)

In [1]:
#sum of number of digits in a list
l=[]
n=int(input("enter the no.of elements in the list:"))
for i in range(n+1):
    a=int(input("enter the element:"))
    l.append(a)
print(l)
k=0
for i in l:
    sum=0
    while i!=0:
        r=i%10
        sum=sum+r
        i=i//10
    k=k+sum
print("the sum of number of digits in a list:",k)

enter the no.of elements in the list:5
enter the element:45
enter the element:34
enter the element:23
enter the element:454
enter the element:6
enter the element:43
[45, 34, 23, 454, 6, 43]
the sum of number of digits in a list: 47

In [3]:
# swapping two elements in a list i.e., pos2--->pos5 and pos5--->pos2
l=[]
n=int(input("enter the no.of elements in the list:"))
for i in range(n+1):
    a=int(input("enter the element:"))
    l.append(a)
print(l)
temp=l[2]
l[2]=l[5]
l[5]=temp
print("list after swapping elements:")
print(l)

enter the no.of elements in the list:6
enter the element:34
enter the element:45
enter the element:65
enter the element:23
enter the element:12
enter the element:53
enter the element:43
[34, 45, 65, 23, 12, 53, 43]
list after swapping elements:
[34, 45, 53, 23, 12, 65, 43]

In [4]:
#interchange first and last elements in the list:
l=[]
n=int(input("enter the no.of elements in the list:"))
for i in range(n+1):
    a=input("enter the element:")
    l.append(a)
print(l)
temp=l[0]
l[0]=l[n]
l[n]=temp
print("list after interchanging first and last element:")
print(l)

enter the no.of elements in the list:4
enter the element:3
enter the element:4
enter the element:2
enter the element:4
enter the element:6
['3', '4', '2', '4', '6']
list after interchanging first and last element:
['6', '4', '2', '4', '3']

In [6]:
#sorting the list
l=[]
for i  in range(4):
    a=input("enter the item for list:")
    l.append(a)
print(l)
for i in range (len(l)):
    for j in range(i + 1, len(l)):
        if(l[i] > l[j]):
            temp = l[i]
            l[i] = l[j]
            l[j] = temp

print("Element After Sorting List in Ascending Order is : ",l)

enter the item for list:5
enter the item for list:4
enter the item for list:3
enter the item for list:8
['5', '4', '3', '8']
Element After Sorting List in Ascending Order is :  ['3', '4', '5', '8']

In [7]:
#turning every item in the into  its square:
l=[]
n=int(input("enter the no.of elements in the list:"))
for i in range(n+1):
    a=int(input("enter the element:"))
    l.append(a)
print(l)
print("turning the elements in the list into its squares:")
k=[]
for i in l:
    b=i*i
    k.append(b)
print(k)

enter the no.of elements in the list:3
enter the element:43
enter the element:3
enter the element:2
enter the element:5
[43, 3, 2, 5]
turning the elements in the list into its squares:
[1849, 9, 4, 25]

In [8]:
#searching item 
l=[]
for i  in range(4):
    a=input("enter the item for list:")
    l.append(a)
print(l)
b=input("enter the item to be searched in list:")
if b in l:
    print("item is found")
    print(b,"is present at the index:",l.index(b))
else:
    print("item not found")

enter the item for list:3
enter the item for list:4
enter the item for list:23
enter the item for list:42
['3', '4', '23', '42']
enter the item to be searched in list:42
item is found
42 is present at the index: 3

In [9]:
l=['rajesh','ravi','kiran',34,4,3,2]
print(l)

['rajesh', 'ravi', 'kiran', 34, 4, 3, 2]

In [24]:
l=['rajesh','ravi','kiran',34,4,3,2]
l

['rajesh', 'ravi', 'kiran', 34, 4, 3, 2]

In [10]:
s=str(l)
print(s)
print(type(s))

['rajesh', 'ravi', 'kiran', 34, 4, 3, 2]
<class 'str'>

In [23]:
n='rajesh'
n[0]

'r'

In [25]:
for i in range(len(s)):
    print(s[i],end='_')

[_'_r_a_j_e_s_h_'_,_ _'_r_a_v_i_'_,_ _'_k_i_r_a_n_'_,_ _3_4_,_ _4_,_ _3_,_ _2_]_

In [26]:
l

['rajesh', 'ravi', 'kiran', 34, 4, 3, 2]

In [22]:
k= ','.join(str(i) for i in l)
print(k)

rajesh,ravi,kiran,34,4,3,2

In [27]:
type(k)

str

In [28]:
t=tuple(l)
print(t)

('rajesh', 'ravi', 'kiran', 34, 4, 3, 2)

In [30]:
l1=list(t)
print(l1)
l1.append(53)
print(l1)

['rajesh', 'ravi', 'kiran', 34, 4, 3, 2]
['rajesh', 'ravi', 'kiran', 34, 4, 3, 2, 53]

In [37]:
# search an element from a list
l2=['ra',43,'tkas',67]
x=43
for i in l2:
    if i==x:
        print(x,' is available')
else:
    print(x,' is not available')

43  is available
43  is not available

In [26]:
l=[3,5,4,6,7]
l[1]

5

In [5]:
d = {"brand": "Ford","model": "Mustang","year": 1964 }
x = d["model"]
x

'Mustang'

In [6]:
x = d.get("model")
x

'Mustang'

In [8]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [9]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [12]:
d.setdefault('brand')

'Ford'

In [14]:
# Adding elements to a Dictionary

my_dict = {1: 'A', 2: 'B'}
my_dict[3] = 'C'
print(my_dict)


# Removing elements in a Dictionary

my_dict = {1: 'A', 2: 'B', 3: 'C'}
my_dict.pop(2)
print(my_dict)

{1: 'A', 2: 'B', 3: 'C'}
{1: 'A', 3: 'C'}

In [1]:
dic = dict(name = "John", age = 36, country = "Norway")
print(dic)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [28]:
d=dict()
i=0
while i<4:
    key=input('enter key : ')
    value=input('enter value : ')
    d[key]=value
    i=i+1 
print(d)

enter key 2
enter valuetwo
enter key 3
enter valuethree
enter key 4
enter valuefour
enter key 5
enter valuefive

In [29]:
d

{'2': 'two', '3': 'three', '4': 'four', '5': 'five'}

In [19]:
#set of integers
s = {1, 2, 3}
print(s)

#print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [20]:
s = {1,2}
s.add(3)
print(s)

{1, 2, 3}

In [21]:
s = {1,2,3}
s.update([3,4,5,6])
print(s)

{1, 2, 3, 4, 5, 6}

In [22]:
# remove function

s = {1,2,3,4,5}
s.remove(5)
print(s)

# discard function

s = {1,2,3,4,5}
s.discard(5)
print(s)

# pop function

s = {1,2,3,4,5}
s.pop()
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}
{2, 3, 4, 5}

In [23]:
s1 = {1,2,3}
s2 = {3,4,5}
su1 = s1 | s2
su2 = s1.union(s2)
print(su1)
print(su2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [24]:
s1 = {1,2,3}
s2 = {3,4,5}
si1 = s1 & s2
si2 = s1.intersection(s2)
print(si1)
print(si2)

{3}
{3}

In [25]:
s1 = {1,2,3}
s2 = {3,4,5}
sd1 = s1 - s2
sd2 = s1.difference(s2)
print(sd1)
print(sd2)

s1 = {1,2,3}
s2 = {3,4,5}
ssd1 = s1 ^ s2
ssd2 = s1.symmetric_difference(s2)
print(ssd1)
print(ssd2)

s = frozenset([1, 2, 3, 4])
print(s)

#print type of s
print(type(s))

{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}
frozenset({1, 2, 3, 4})
<class 'frozenset'>

In [1]:
def su(l):
    
    return sum(l)
l=[2,34,5,7]
print(su(l))

48

In [7]:
#this function is used to enter integer values into a list
def enter_list(n):
    l=[]
    for i in range(n):
        num=int(input("Enter integer no. "))
        l.append(num)
    return l

#this function will return the sum of numbers of a list
def total(l):
    sum=0
    for element in l:
        sum+=element
    return sum

#this function will calculate and return the mean from total and no of elemnts
def mean(sum,n):
    m=sum//n
    return m

#return the mean square error sum
def mean_square_error(l,mean):
    sum=0
    for item in l:
        x=mean-item
        x_square=x*x
        sum+=x_square
    return sum

n=int(input ("enter the no of elements to be present in the list"))
element_list=enter_list(n)
total=total(element_list)
mean=mean(total,n)
sum_square_error=mean_square_error(element_list, mean)
print("The sum of square error is:", sum_square_error)

enter the no of elements to be present in the list3
Enter integer no. 23
Enter integer no. 23
Enter integer no. 23
The sum of square error is: 0

In [5]:
i=1
while i>0:
    n=int(input('Please enter the integer number : '))
    num_to_check = int(input('Enter 1-for Prime number , 2-for Armstrong , 3-for Palindrome , 4-for factorial And -1 for stop :'))
    if num_to_check==-1:
        i=-1
        i=i-1
    elif num_to_check==1:
        #n=int(input('Please enter the integer number : '))
        
        def prime(n):
            if n>1:
                c=0
                for i in range(2,n):
                    if n%2==0:
                        c+=1
                if c==0:
                    return ('The number is a prime number')
            else:
                return ('The number is not a prime number')
        print(prime(n))
        i=i+1
        
    elif num_to_check==2:
        #n=int(input('Please enter the integer number : '))
        
        def armstrong(n):
            num_org = n
            a=len(str(n))
            add=0
            while n!=0:
                k=n % 10
                add = add+ (k**a)
                n//=10
            if num_org == add:
                return (num_org,'is an armstrong number')
            else:
                return (num_org,'is not an armstrong number')
        print(armstrong(n))
        i=i+1
        
    elif num_to_check==3:
        #n=int(input('Please enter the integer number : '))
        
        def palindrome(n):
            s=str(n)
            if s==s[::-1]:
                return ('The number is a palindrome')
            else:
                return ('The number is not a palindrome')
        print(palindrome(n))
        i=i+1
        
    elif num_to_check==4:
        #n=int(input('Please enter the integer number : '))
        def factorial(n):
            if n==0 or n==1:
                return 1
            else:
                return n*factorial(n-1)
        print(factorial(n))
        i=i+1
        
    else:
        print('Thank you your session is completed')
print('Thank you your session is completed')

Please enter the integer number : 5
Enter 1-for Prime number , 2-for Armstrong , 3-for Palindrome , 4-for factorial And -1 for stop :4
120
Please enter the integer number : 5
Enter 1-for Prime number , 2-for Armstrong , 3-for Palindrome , 4-for factorial And -1 for stop :-1
Thank you your session is completed

In [27]:
def prime(n):
    if n>1:
        c=0
        for i in range(2,n):
            if n%2==0:
                c+=1
        if c==0:
            return ('The number is a prime number')
        else:
            return ('The number is not a prime number')
    else:
        return ('The number is not a prime number')

def armstrong(n):
    num_org = n
    a=len(str(n))
    add=0
    while n!=0:
        k=n % 10
        add = add+ (k**a)
        n//=10
    if num_org == add:
        return num_org,'is an armstrong number'
    else:
        return num_org,'is not an armstrong number'

def palindrome(n):
    s=str(n)
    if s==s[::-1]:
        return 'The number is a palindrome'
    else:
        return 'The number is not a palindrome'

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

i=1
while i>0:
    
    n=int(input('Please enter the integer number : '))
    num_to_check = int(input('Enter 1-for Prime number , 2-for Armstrong , 3-for Palindrome , 4-for factorial And -1 for stop :'))
    if num_to_check==-1:
        i=-2
    elif num_to_check==1:
        print(prime(n))
    elif num_to_check==2:
        print(armstrong(n))
    elif num_to_check==3:
        print(palindrome(n))
    else: 
        print(factorial(n))
    i=i+1
print('Thank you your session is completed')

Please enter the integer number : 54545
Enter 1-for Prime number , 2-for Armstrong , 3-for Palindrome , 4-for factorial And -1 for stop :3
The number is a palindrome
Please enter the integer number : 5
Enter 1-for Prime number , 2-for Armstrong , 3-for Palindrome , 4-for factorial And -1 for stop :4
120
Please enter the integer number : 345
Enter 1-for Prime number , 2-for Armstrong , 3-for Palindrome , 4-for factorial And -1 for stop :-1
Thank you your session is completed

# Recurssion

In [8]:
#sum of list elements
def sum_of_list(n):
    if n==1:
        return l[0]
    else:
         return l[n-1]+sum_of_list(n-1)

l=[2,3,4,5,6]
n=len(l)
print(sum_of_list(n))

2

In [15]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
n=int(input('enter the values : '))
print(factorial(n))

enter the values : 5
120

In [21]:
def recursive_list_sum(data_list):
    total = 0
    for element in data_list:
        if type(element) == type([]):
            total = total + recursive_list_sum(element)
        else:
            total = total + element

    return total
print( recursive_list_sum([1,6, [2,7, [3,4],[5,6]]]))

34

In [9]:
def fibonacci(n):
    if n == 1: 
        return 0
    elif n==2:
        return 1
    else:
        return (fibonacci(n - 1) + (fibonacci(n - 2)))

print(fibonacci(5))

2

In [24]:
def power(a,b):
    if b==0:
        return 1
    elif a==0:
        return 0
    elif b==1:
        return a
    else:
        return a*power(a,b-1)

print(power(2,5))

32

In [6]:
def divide(x, y):
    try:
        result=x*y
        print("Yeah ! Your answer is :")
        
    except IndentationError:
        print("Sorry ! You are making indendation error")

divide(3,2)

Yeah ! Your answer is :

In [81]:
def divide(x,y):
    try:
        res=x//y
        print('result')
    except ZeroDivisionError:

        print('error')
    
    
divide(3,0)

error

In [5]:
def divide(x,y):
    r=x//y
    print(r)
divide(3,2)

1

In [32]:
def function(n):
    if n<4:
        b=n/(n-3)
        print("the value of b:",b)
try:
    function(3)
except:
    print("Name error occurred and handled")

Name error occurred and handled

In [2]:
def function(a,b):
    try:
        c=((a+b)/(a-b))
    except:
        print('an error occurred')
    else:
        print(c)
function(4,3)
function(6,6)

7.0
an error occurred

In [37]:
i=1
while i>0:
    try:
        x = int(input("Please enter a number and to stop enter 0 : "))
        i=x
    except IndentationError:
        print('Indentation error')
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

Please enter a number and to stop enter 0 : 67
Please enter a number and to stop enter 0 : jb
Oops!  That was no valid number.  Try again...
Please enter a number and to stop enter 0 : 0

In [31]:
def fact(n):
    
    try:
        if n<=-1:
            raise ValueError('Invalid input! enter number greater than 0 ')
        elif n==1:
            return n
            #elif(n<=0):
            #   print("Impossible to find the factorial of negavtive numbers")
        
        else:
            return n*fact(n-1)    
    except Exception as e:
        print(str(e))
        #print("Input error, please try again")
        #raise
fact(-1)

Invalid input! enter number greater than 0

In [1]:
def function(n):
    if n>4 or n<0:
        
        raise ValueError("Enter 0 to 4:")
        
    else:
        b=n/(n-3)
        print("the value of b:",b)
try:
    function(3)
    
except Exception as e:
        print(str(e))

division by zero

In [3]:
def function(a,b):
    try:
        c=((a+b)/(a-b))
        raise error('error')
    except Exception as e:
        print(str(e))
    else:
        print(c)
    finally:
        d=a+b
        print(d)
function(5,2)
function(5,5)

name 'error' is not defined
7
division by zero
10

# file handling

In [26]:
with open('Ages.txt','x') as f:
    f.write('25\n')
    f.write('22\n')

In [28]:
f=open('Ages.txt','r')
for i in f:
    print(i)

25

22

In [31]:
f.read()

''

In [32]:
f.seek(0)

0

In [33]:
f.read()

'25\n22\n'

In [34]:
f.seek(0)
f.readlines()

['25\n', '22\n']

In [35]:
f.close()

In [36]:
file = open('age.txt','w+')
file.write('Adding ages of trainees to this file ')

37

In [37]:
file.seek(0)
file.read()

'Adding ages of trainees to this file '

In [38]:
file.seek(0)

0

In [39]:
file.close()

### append values to file

In [40]:
file = open('age.txt','a+')
file.write('\n22')
file.write('\n23')
file.write('\n24')
file.write('\n25')

3

In [42]:
file.seek(0)
print(file.read())

Adding ages of trainees to this file
22
23
24
25

In [43]:
file.seek(0)
for line in file:
    print(line)

Adding ages of trainees to this file

22

23

24

25

In [44]:
file.close()

In [45]:
a=str(5)
b=str(6)
file =open('age.txt','a+')
file.write(a+'*'+b)

3

In [52]:
file.seek(0)
print(file.read())

Adding ages of trainees to this file
22
23
24
255*6
4*5=204*5=20

In [51]:
file.seek(0)
file.write(str(4)+'*'+str(5)+'='+str(20))

6

In [53]:
file.close()

In [62]:
f=open('age.txt','a+')
f.write('\nnew line 4')
for i in range(2):
    f.write('command 4')

In [63]:
f.seek(0)
print(f.read())

new linecommandcommand
new linecommandcommand
new linecommandcommand
new linecommandcommand
new line 4command 4command 4